---
import Layout from '../layouts/Layout.astro';
import AirdropList from '../components/airdrop/AirdropList.jsx';
import PageHeader from '../components/PageHeader';
import PageFooter from '../components/PageFooter';
---

<Layout title="Airdrops">
	<main>
		<PageHeader client:only="react" page="airdrop" backURL="../index.html" />
		<AirdropList client:only="react" />
		<PageFooter client:only="react" sourceURL="https://github.com/BTS-CM/astro-ui/blob/main/src/pages/airdrop/index.astro" />
	</main>
</Layout>
