---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import AirdropPerform from '../components/airdrop/AirdropPerform.jsx';
import PageHeader from '../components/PageHeader';
import PageFooter from '../components/PageFooter';

const id = Astro.url.searchParams.get('id');

const btsFeeSchedule = await getCollection('btsFeeSchedule');
const testFeeSchedule = await getCollection('testFeeSchedule');

const btsFeeScheduleList = btsFeeSchedule.map((collection) => collection.data);
const testFeeScheduleList = testFeeSchedule.map((collection) => collection.data);
---

<Layout title="Perform airdrop">
	<main>
		<PageHeader client:only="react" page="airdrop_perform" backURL="../index.html" />
		<AirdropPerform
			client:only="react"
			id={id}
			_globalParamsBTS={btsFeeScheduleList}
			_globalParamsTEST={testFeeScheduleList}
		/>
		<PageFooter client:only="react" sourceURL="https://github.com/BTS-CM/astro-ui/blob/main/src/pages/airdrop_perform/index.astro" />
	</main>
</Layout>
